@model IEnumerable<BangazonWebApp.Models.Employees>

@{
    ViewData["Title"] = "Employee List";
}

<h2>EMPLOYEE LIST</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
               Name
            </th>

            <th>
                Department Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@item.FirstName @item.LastName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departments.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
    
</table>
